.bgImage{
    display: flex;
    /* margin: 0;
    padding: 0; */
    /* added 12/31/2022 5:54pm Saturday */
    margin-inline: auto;
    width: 296px;
    scale: 1;
    /* height: 600px; */
    filter: none;
    /* height: fit-content */   
    background-image: url(/PokedexScreen.png), url(/PokedexBG.png);
    background-position: 25px 20px , 0 0;
    /* background-position: top; */
    background-repeat: no-repeat, no-repeat;
    
}

.pokemonDisplayContainer{
    --containerWidth: 148px;
    --containerHeight: 130px;
    display: flex;
    position: fixed;
    justify-content: center;
    width:  var(--containerWidth);
    height: var(--containerHeight); 
    overflow-x: hidden;
    /* outline: solid aqua 2px; */
    /* z-index: 100; */

    transform: translate(calc(var(--containerWidth) / 2), calc(var(--containerHeight) - 10px ));
}
.pokemonType{
    display: flex;
    position: absolute;
    max-width: inherit;
    
}
@keyframes animatedPokemonName{
    0%{
       opacity: 0;
    }
    100%{
        opacity: 100;
    }
}
.pokemonDisplayContainer img{
    animation-name: animatedPokemonName;
    animation-duration: 1s;
    user-select: none;
    -webkit-user-drag: none;
}
.pokemonName{
    display: flex;
    position: absolute;
    align-self: flex-end;
    color: aqua;
    font-weight: bold;
    animation-name: animatedPokemonName;
    animation-duration: 1s;
    user-select: none;
}
.greenScreen{
    display: flex;
    position: absolute;
    background-color: rgb(174, 234, 84);
    translate: 85px 330px;
    width: 110px;
    height: 40px;
    outline: rgb(90, 7, 46) 2px solid;
    border-radius: 2px;
}

#textField{
    background: none;
    color: rgb(23, 50, 23);
    line-height: normal;
    font-size: 15px;
    border: none;
    width: 100%;
}